/* global.css */

/* Define CSS variables for chord colors (these will be dynamically updated) */
:root {
    --A-maj-primary: #EF4444;
    --A-maj-secondary: #F87171;
    --A-maj-third: #F1F5F9;
  
    --C-maj-primary: #F87171;
    --C-maj-secondary: #FB923C;
    --C-maj-third: #FBBF24;
    
    /* You can add default colors for other chords here */
  }
  